build*/
dist/
.vscode
data/**
evaluation/
.idea/

run_Project.txt

.cache
.py-build-cmake_cache

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

